data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.ibm_adv/pyvenv.cfg
.ibm_adv/Scripts/activate
.ibm_adv/Scripts/activate.bat
.ibm_adv/Scripts/Activate.ps1
.ibm_adv/Scripts/deactivate.bat
.ibm_adv/Scripts/easy_install-3.9.exe
.ibm_adv/Scripts/easy_install.exe
.ibm_adv/Scripts/f2py.exe
.ibm_adv/Scripts/pip.exe
.ibm_adv/Scripts/pip3.9.exe
.ibm_adv/Scripts/pip3.exe
.ibm_adv/Scripts/python.exe
.ibm_adv/Scripts/pythonw.exe
.vscode/settings.json
.ibm_adv/Scripts/iptest.exe
.ibm_adv/Scripts/iptest3.exe
.ibm_adv/Scripts/ipython.exe
.ibm_adv/Scripts/ipython3.exe
.ibm_adv/Scripts/jupyter-kernel.exe
.ibm_adv/Scripts/jupyter-kernelspec.exe
.ibm_adv/Scripts/jupyter-migrate.exe
.ibm_adv/Scripts/jupyter-run.exe
.ibm_adv/Scripts/jupyter-troubleshoot.exe
.ibm_adv/Scripts/jupyter.exe
.ibm_adv/Scripts/pygmentize.exe
.ibm_adv/Scripts/pywin32_postinstall.py
.ibm_adv/Scripts/pywin32_testall.py
.ibm_adv/share/jupyter/kernels/python3/kernel.json
.ibm_adv/share/jupyter/kernels/python3/logo-32x32.png
.ibm_adv/share/jupyter/kernels/python3/logo-64x64.png
.ibm_adv/share/man/man1/ipython.1.gz
.ibm_adv/Scripts/numba
.ibm_adv/Scripts/plasma_store.exe
.ibm_adv/Scripts/pycc
.ibm_adv/Scripts/nltk-script.py
.ibm_adv/Scripts/nltk.exe
.ibm_adv/Scripts/tqdm.exe
.ibm_adv/Scripts/wordcloud_cli-script.py
.ibm_adv/Scripts/wordcloud_cli.exe
.ibm_adv/Scripts/chardetect.exe
.ibm_adv/Scripts/estimator_ckpt_converter.exe
.ibm_adv/Scripts/google-oauthlib-tool.exe
.ibm_adv/Scripts/import_pb_to_tensorboard.exe
.ibm_adv/Scripts/markdown_py.exe
.ibm_adv/Scripts/pyrsa-decrypt.exe
.ibm_adv/Scripts/pyrsa-encrypt.exe
.ibm_adv/Scripts/pyrsa-keygen.exe
.ibm_adv/Scripts/pyrsa-priv2pub.exe
.ibm_adv/Scripts/pyrsa-sign.exe
.ibm_adv/Scripts/pyrsa-verify.exe
.ibm_adv/Scripts/saved_model_cli.exe
.ibm_adv/Scripts/tensorboard.exe
.ibm_adv/Scripts/tf_upgrade_v2.exe
.ibm_adv/Scripts/tflite_convert.exe
.ibm_adv/Scripts/toco_from_protos.exe
.ibm_adv/Scripts/toco.exe
.ibm_adv/Scripts/wheel.exe
.ibm_adv/Scripts/autopep8.exe
.ibm_adv/Scripts/pycodestyle.exe
.ibm_adv/Scripts/beeline
.ibm_adv/Scripts/beeline.cmd
.ibm_adv/Scripts/docker-image-tool.sh
.ibm_adv/Scripts/find_spark_home.py
.ibm_adv/Scripts/find-spark-home
.ibm_adv/Scripts/find-spark-home.cmd
.ibm_adv/Scripts/load-spark-env.cmd
.ibm_adv/Scripts/load-spark-env.sh
.ibm_adv/Scripts/pyspark
.ibm_adv/Scripts/pyspark.cmd
.ibm_adv/Scripts/pyspark2.cmd
.ibm_adv/Scripts/run-example
.ibm_adv/Scripts/run-example.cmd
.ibm_adv/Scripts/spark-class
.ibm_adv/Scripts/spark-class.cmd
.ibm_adv/Scripts/spark-class2.cmd
.ibm_adv/Scripts/spark-shell
.ibm_adv/Scripts/spark-shell.cmd
.ibm_adv/Scripts/spark-shell2.cmd
.ibm_adv/Scripts/spark-sql
.ibm_adv/Scripts/spark-sql.cmd
.ibm_adv/Scripts/spark-sql2.cmd
.ibm_adv/Scripts/spark-submit
.ibm_adv/Scripts/spark-submit.cmd
.ibm_adv/Scripts/spark-submit2.cmd
.ibm_adv/Scripts/sparkR
.ibm_adv/Scripts/sparkR.cmd
.ibm_adv/Scripts/sparkR2.cmd
.ibm_adv/share/py4j/py4j0.10.9.jar
.ibm_adv/Scripts/jsonschema.exe
.ibm_adv/Scripts/jupyter-pixiedust.exe
.ibm_adv/Scripts/jupyter-trust.exe
.ibm_adv/Scripts/jp.py
.ibm_adv/Scripts/jupyter-nbconvert.exe
.ibm_adv/share/jupyter/nbconvert/templates/asciidoc/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/asciidoc/index.asciidoc.j2
.ibm_adv/share/jupyter/nbconvert/templates/base/celltags.j2
.ibm_adv/share/jupyter/nbconvert/templates/base/display_priority.j2
.ibm_adv/share/jupyter/nbconvert/templates/base/jupyter_widgets.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/base/mathjax.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/base/null.j2
.ibm_adv/share/jupyter/nbconvert/templates/basic/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/basic/index.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/classic/base.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/classic/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/classic/index.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/classic/static/style.css
.ibm_adv/share/jupyter/nbconvert/templates/compatibility/display_priority.tpl
.ibm_adv/share/jupyter/nbconvert/templates/compatibility/full.tpl
.ibm_adv/share/jupyter/nbconvert/templates/lab/base.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/lab/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/lab/index.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/lab/static/index.css
.ibm_adv/share/jupyter/nbconvert/templates/lab/static/theme-dark.css
.ibm_adv/share/jupyter/nbconvert/templates/lab/static/theme-light.css
.ibm_adv/share/jupyter/nbconvert/templates/latex/base.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/latex/display_priority.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/document_contents.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/index.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/null.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/report.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/style_bw_ipython.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/style_bw_python.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/style_ipython.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/style_jupyter.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/latex/style_python.tex.j2
.ibm_adv/share/jupyter/nbconvert/templates/markdown/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/markdown/index.md.j2
.ibm_adv/share/jupyter/nbconvert/templates/python/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/python/index.py.j2
.ibm_adv/share/jupyter/nbconvert/templates/reveal/base.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/reveal/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/reveal/index.html.j2
.ibm_adv/share/jupyter/nbconvert/templates/reveal/static/custom_reveal.css
.ibm_adv/share/jupyter/nbconvert/templates/rst/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/rst/index.rst.j2
.ibm_adv/share/jupyter/nbconvert/templates/script/conf.json
.ibm_adv/share/jupyter/nbconvert/templates/script/script.j2
